<ul>
  <li class="dropdown"><a href="#"><span>Sobre</span> <i class="bi bi-chevron-down"></i></a>
    <ul>
      <li><a class="nav-link scrollto" href="#about">Projeto</a></li>
      <!--Nova pagina ao clicar em histórico  (decisão tomada dia tal)-->
      <li><a class="nav-link scrollto" href="historico.html">Histórico</a></li> 
      <li><a class="nav-link scrollto" href="http://map.prp.usp.br/MAP_Bibliografia.html">Referências</a></li> <!--Nova pagina-->
      <li><a class="nav-link scrollto" href="#">Como citar</a></li>
    </ul>
  </li>
  <li class="dropdown"><a href="#"><span>Catalógo</span> <i class="bi bi-chevron-down"></i></a>
    <ul>
      <li><a class="nav-link scrollto" href="#why-us">Catalogo M.A.P.</a></li>
      <li><a class="nav-link scrollto" href="#skills">Estatísticas?</a></li> 
    </ul>
  </li>
  <li class="dropdown"><a href="#"><span>Catalógo</span> <i class="bi bi-chevron-down"></i></a>
    <ul>
      <li><a class="nav-link scrollto" href="#why-us">Edição piloto</a></li>
    </ul>
  </li>
  <li><a class="nav-link scrollto" href="#team">Equipe</a></li>
  <li class="dropdown"><a href="#"><span>Produções</span> <i class="bi bi-chevron-down"></i></a>
    <ul>
      <li><a class="nav-link scrollto" href="#">Publicações</a></li> <!--Nova pagina-->
      <li><a class="nav-link scrollto" href="#">Apresentações</a></li> <!--Nova pagina-->
    </ul>
  </li>
  <!--<li><a class="nav-link scrollto" href="#contact">Contact</a></li>
  <li><a class="getstarted scrollto" href="#about">Get Started</a></li>-->
  
  <li><a class="nav-link scrollto" href="#contact">Contato</a></li>
  <li><a class="nav-link scrollto" href="#cta">Blog</a></li>
</ul>


<div style="margin-left:50px;" class="position-relative">
  <i style="color: white; font-size: x-large; margin: 5px;" class="bi bi-facebook"></i>
  <i style="color: white; font-size: x-large; margin: 5px;" class="bi bi-youtube"></i>
  <i style="color: white; font-size: x-large; margin: 5px;" class="bi bi-twitter"></i>
  <i style="color: white; font-size: x-large; margin: 5px;" class="bi bi-instagram"></i>
</div>
<i class="bi bi-list mobile-nav-toggle"></i>